<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generators Outage Hours Viewer</title>
    <link rel="icon" 
      type="image/png" 
      href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
    <h2 id='mainHead'>Generator Outage Hours report for RPC</h2>
    <form method="POST">
        <input type="date" name="startDate" id="startDate" />
        <input type="date" name="endDate" id="endDate" />
        <button type="submit">Get Data</button>
    </form>
    <br/>
    {% if data %}
    <table id='outagesTable' class='display' stye='width=100%'>
    </table>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/datatables.net-dt/css/jquery.dataTables.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>
    <script>
        var startDate = "{{data.startDate}}".substring(0,10);
        var endDate = "{{data.endDate}}".substring(0,10);
        document.getElementById('startDate').value = startDate;
        document.getElementById('endDate').value = endDate;
        document.getElementById('mainHead').innerHTML = "Generator Outage Hours report for RPC from " + startDate + " to " + endDate;
        var _outageRows = [];
        $(document).ready(function() {
            _outageRows = {{ data.outages }}
            initOutagesTable(_outageRows);
        });
    </script>

    {% endif %}
</body>

</html>